/* ABOUT SECTION */
.about {
    padding: 10% 0;
    background-color: #fff;
    max-width: 1200px;
    margin: auto;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .about-text {
    flex: 1 1 500px;
  }
  
  .about-text .head {
    font-size: 2em;
    color: black;
    margin-top: -5%;
    font-family: "Poppins", sans-serif;
    text-align: left;
    margin-left: -10%;
  }
  
  .about-text .psn {
    color: rgb(3, 255, 129);
    font-size: 1em;
    font-family: "Poppins", sans-serif;
  }
  
  .about-text p {
    font-size: 1.3em;
    line-height: 1.9;
    color: #333;
    margin-left: -10%;
    text-align: justify;
  }
  
  .about-img {
    flex: 1 1 500px;
    text-align: center;
  }
  
  .about-img img {
    width: 120%;
    max-width: 120%;
    transform: rotate(-2deg);
    border-radius: 10px;
  }
  